<link href="../../../Build/ansi.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../../Build/ansi.js"></script>
<div class="ansi-cls ansi-bg-black">
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">In Teleconference, anything you type is broadcast to everyone on the same</span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-white">channel</span>
        <span class="ansi-text-bold ansi-fg-cyan">with you</span><span class="ansi-text-bold ansi-fg-white">.</span>
        <span class="ansi-text-bold ansi-fg-cyan">Also</span><span class="ansi-text-bold ansi-fg-white">,</span>
        <span class="ansi-text-bold ansi-fg-cyan">use these special commands</span><span class="ansi-text-bold ansi-fg-white">:</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">--</span>
        <span class="ansi-text-bold ansi-fg-white">SHORTHAND</span>
        <span class="ansi-text-bold ansi-fg-cyan">--</span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">PAGE </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="ansi-text-bold ansi-fg-white">...</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">"pages" the user with a message </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/P </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">></span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">PAGE ON</span><span class="ansi-text-bold ansi-fg-white">/</span><span class="ansi-text-bold ansi-fg-cyan">OFF</span><span class="ansi-text-bold ansi-fg-white">/</span><span class="ansi-text-bold ansi-fg-cyan">OK</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">allows/prevents/encourages others to page </span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/P </span>
        <span class="ansi-text-bold ansi-fg-cyan">ON</span><span class="ansi-text-bold ansi-fg-white">/</span><span class="ansi-text-bold ansi-fg-cyan">OFF</span><span class="ansi-text-bold ansi-fg-white">/</span><span class="ansi-text-bold ansi-fg-cyan">OK</span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">WHISPER TO </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="ansi-text-bold ansi-fg-white">...</span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">sends a private message to another user </span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/</span><span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="ansi-text-bold ansi-fg-white">...</span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">CHAT</span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">request or join in a "chat" with someone </span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/C </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">></span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">SCAN</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">shows where everyone is in Teleconference </span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/S</span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">LIST</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">lists all public channels you can join </span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">EDIT</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">edit your Teleconference profile </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/E</span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">JOIN</span><span class="ansi-text-bold ansi-fg-white">/</span><span class="ansi-text-bold ansi-fg-cyan">JOIN </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">join a private, public, or forum channel </span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/J </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">></span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">INVITE </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">invites a user to your private channel </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/I </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">></span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">UNINVITE </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">> </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">uninvites a user from your channel </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/U </span>
        <span class="ansi-text-bold ansi-fg-white"><</span><span class="ansi-text-bold ansi-fg-cyan">who</span><span class="ansi-text-bold ansi-fg-white">></span>
    </div>
    <div>
        <span class="ansi-text-bold ansi-fg-cyan">TOPIC </span>
        <span class="ansi-text-bold ansi-fg-white">...</span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-yellow">list a topic for your private channel </span>
        <span class="tab"></span>
        <span class="tab"></span>
        <span class="ansi-text-bold ansi-fg-cyan">/T </span>
        <span class="ansi-text-bold ansi-fg-white">...</span>
    </div>
</div>
